@import "_colors.css";

/*THEME*/

body {
  background-color: white;
  color: var(--text-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.5rem;
  margin: 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 10px 0;
}

h3 {
  font-weight: 300;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 10px;
}

a {
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}


/*BASIC COMPONENTS*/

.container {
  padding: 48px 10%;
  /*layout of elements contained*/
  grid-gap: 1rem;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-align: center;
  padding: 13px 24px;
  border-radius: 25px;
  max-width: 320px;
  margin-top: 24px;
  transition: background-color 1s;
}

.button:hover {
  background-color: var(--brand-hover);
  color: var(--text-light);
}

.section-header {
  padding-bottom: 24px;
  text-align: center;
}

.fine-print {
  font-size: 0.8rem;
  padding-top: 48px;
}

.banner {
  padding: 5px;
}

/*MODIFIERS*/

.brand-main {
  color: var(--brand-main);
}

.brand-light {
  background-color: var(--brand-light);
  color: var(--text-light);
}

.brand-light-outline {
  border: 1px solid var(--brand-light);
  color: var(--brand-light);
}

.grey {
  background-color: var(--grey);
}

.text-brand-light {
  color: var(--brand-light);
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.center-item {
  margin: 0 auto;
}


/*NAVBAR COMPONENTS*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 48px;
  background-color: white;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar-left {
  grid-column: 1;
  margin: auto;
}

.navbar-center {
  grid-column: 2 / 4;
  text-align: center;
}

.navbar-right {
  grid-column: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar a {
  padding: 24px;
  color: var(--brand-main);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.navbar a:hover {
  color: var(--brand-light);
}

.main-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.button-nav {
  padding: 10px 24px;
  margin: auto 14px;
}

.logo {
  height: 32px;
}

.navbar-center__mobile {
  display: none;
}

.navbar-right__mobile {
  display: none;
}

@media (max-width: 1200px) {
  .navbar-center {
    display: none;
  }
  .navbar-right {
    display: none;
  }
  .navbar-center__mobile {
    /*layout within container*/
    display: initial;
    grid-column: 1 / -1;
  }

  .navbar-right__mobile {
    /*layout within container*/
    display: initial;
    grid-column: 4;
  }

  .navbar-toggle__mobile {
    float: right;
    margin: 1rem;
  }

  .main-nav__mobile {
    display: none;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .main-nav__mobile a {
    width: 100%;
    padding-left: 0;
  }

  .main-nav__mobile a:hover {
    background-color: var(--brand-light);
    color: var(--text-light);
  }

  .main-nav-active {
    display: initial;
  }
}


/*HERO SECTION COMPONENTS*/
.container__hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  max-height: 100vh;
  /*layout for elements contained*/
  display: grid;
  grid-template-columns: 10% auto 40% 10%;
}

.text-container__hero {
  /*layout within container*/
  grid-column: 2 / span 1;
  /*layout for elements contained*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25% 0px;
}

@media (max-width: 800px) {
  .text-container__hero {
    grid-column: 2 / span 2;
    text-align: center;
    align-items: center;
  }
}


.headline-text__hero {
  font-weight: 300;

}

.paragraph-text__hero {
  padding-top: 20px;
}


/*CAROUSEL COMPONENTS*/

.carousel-container {
  position: relative;
  color: var(--text-light);
  display: grid;
  grid-template-columns: 10% auto 25% 10%;
}

.carousel-hero__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*layout within container*/
  grid-column: 1 / -1;
  /*layout for elementes contained*/
  display: none;
}

.carousel-hero__nav {
  position: absolute;
  width: 100%;
  bottom: 5%;
  z-index: 2;
  /*layout within container*/
  grid-column: 1 / -1;
  /*layout of elements contained*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.js-slide-first .headline-text__hero {
  font-family: 'Permanent Marker', cursive;
  line-height: 5rem;
}

.js-slide-first {
  background-image: url('/../assets/girl-cheeky-close-up-cropped.jpg');
}

.js-slide-second {
  background-image:
  linear-gradient(to top, rgba(245, 246, 252, 0.01), rgba(187, 136, 189, 0.63)),
  url('/../assets/pineapple-offside.jpg');
}

.js-slide-third {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.01), rgba(187, 136, 189, 0.63)),
  url('/../assets/little-girl-petal-shower.jpg');
}

.js-active-slide {
  display: grid;
  grid-template-columns: 10% auto 25% 10%;
}

.js-carousel-button {
  width: 1rem;
  height: 1rem;
  background-color: rgba(189, 187, 136, 0.7);
  border-radius: 50%;
  margin: 0 5px;
}

.js-carousel-button:hover {
  background-color: rgba(189, 187, 136, 0.8);;
}

.js-active-button {
  background-color: var(--brand-light);
}

/*CUSTOM COMPONENTS*/

.video-container {
  margin-bottom: 24px;
}

.video__landing {
  width:560px;
  height: 315px;
}

@media (max-width: 600px) {
  .video__landing {
    width: 400px;
    height: 218px;
  }
}

.panels-container {
  padding: 48px 0px;
  /*layout within container*/
  grid-column: 2;
  /*layout for elements contained*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.panel-container {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
}

.panel-content {
  display: flex;
}

.panel-image {
  margin: 24px 0;
  flex: initial;
}

.panel-text {
  float: right;
  display: flex;
  flex-direction: column;
}

.two-image {
  max-height: 100px;
  filter: invert(0.95);
}

.three-image {
  max-height: 173px;
}

.four-image {
  max-height: 100px;
}

.step-number {
  height: 45px;
  width: 45px;
  line-height: 42px;
  border: 1px solid var(--text-dark);
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  flex: none;
}

.section__feature {
  color: var(--text-light);
}

#one-touch {
  background-image:
    linear-gradient(to left, rgba(245, 246, 252, 0.01), rgba(187, 136, 189, 0.63)),
    url('/../assets/lady-sitting-floor-center.jpg');
}

#automatic-payments {
  background-image:
    linear-gradient(to left, rgba(245, 246, 252, 0.01), rgba(74, 74, 74, 0.63)),
    url('/../assets/lady-food-kitchen.jpg');
}

.avatars-container {
  /*layout of elements contained*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 32px;
}

@media (max-width: 600px) {
  .avatars-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.avatar-circle {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem #cdcdcd);
  margin: 0 auto;
}

@media (max-width: 600px) {
  .avatar-circle {
    height: 100px;
    width: 100px;
  }
}
